<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
    		</ul>
		</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
      
	<div class="kr">
		<img src="/pics/kr.jpg">
	</div><!-- /.krpic -->
	<div class="store">
	<p>Come back soon to see my new merchandise store for all things KillerRaccoon. Here is a sample</p>
	<img src="/pics/tshirt.png" width="400" height="400"><img src="/pics/hoodie.png">
	</div><!-- /.store -->

		<footer>
		</footer>
	</body>
</html>